<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body id="top" class="index is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}	
		<!-- Nav -->
		{% include nav.html %}		
		<!-- Banner -->
		{% include banner-small.html %}	
		<!-- Main -->
			<div id="not-main">
				<article  class="special">
					<section id="frontpage-grid">
						<div class="row 0%">
						{% for product in site.catalog %}
							{% if (product.layout != "category" and product.url contains page.url) %}
							{% assign url_list = product.url | split: '/' %}
							{% assign prod_name = url_list | last %}
							<div class="3u 4u(large) 6u(small)">
								<a href="{{product.url}}" class="copperi-link">
									<div class="inner-wrapper product">	
										<img class="image fit pop" src="/images{{page.url}}{{prod_name}}-1.jpg">
										<h3>{{product.product-name}}</h3>
										<p>{{product.prices[0]}}</p>
									</div>	
								</a>
							</div>
							{% endif %}
						{% endfor %}
						</div>
					</section>
					{{ content }}
					{% include pre-footer.html %}
				</article>
			</div>

		<!-- Footer -->
		{% include footer.html %}	
		<!-- Scripts -->
		{% include scripts.html %}	
		</div>
	</body>
</html>