<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body id="top" class="is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}	
		<!-- Nav -->
		{% include nav.html %}		
		<!-- Main -->
			<div id="not-main">
				<article  class="special">
					<section id="product-hero">
						<section id="banner-wrapper" style="color:#ccc">
							{% assign img_array = "" | split:"," %}
							{% for file in site.static_files %}
								{% if file.path contains page.url %}
									{% assign img_array = img_array | push: file.path %}
								{% endif %}
							{% endfor %}
							{% if img_array.size > 0 %}
							
							<div class="slick">
								{% for img in img_array %}
								<div>
									<div class="banner b-product" style="background-image: url('{{ img }}')">
									</div>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</section>
						<header class="product">
							<h2>{{ page.product-name }}</h2>
							<div class="var_attr">
								{% for price in page.prices %}
								<p class="s{{forloop.index}} hide">{{price}}</p>
								{% endfor %}
							</div>
							<a href="#" class="button">Заказать</a>
						</header>							
					</section>
					<div class="hero-block container 75%">
						<div class="4u -4u 6u(medium) -3u(medium) 10u(xsmall) -1u(xsmall)">
						<h5>Выберите размер</h5>
						<div class="select-wrapper">
							<select id="pa_size" name="attribute_pa_size" class="size_select" data-target=".var_attr">
								{% for size in page.sizes %}
								<option value="{{size}}" {% if forloop.index==1 %}selected="selected"{% endif %} data-show=".s{{forloop.index}}">{{size}}</option>
								{% endfor %}
							</select>
						</div>
						</div>
					</div>
					
					<div class="hero-block container 50%">
						<p>{{ page.product-desc }}</p>
					</div>
					
					<div class="hero-block container 75%">
						<div class="row">
						<ul class="attr">
							<li class="var_attr">Артикул: {% for article in page.articles %}<span class="s{{forloop.index}} hide">{{article}}</span>{% endfor %}</li>
							<li class="var_attr">Размер: {% for size in page.sizes %}<span class="s{{forloop.index}} hide">{{size}}</span>{% endfor %}</li>
							<li class="var_attr">Мощность: {% for watt in page.wattage %}<span class="s{{forloop.index}} hide">{{watt}}</span>{% endfor %}</li>
							<li>Подключение: <span>{{ page.product-connection }}</span></li>
							<li>Цвет: <span>{{ page.product-color }}</span></li>
						</ul>
						</div>
					</div>
					
					<div class="hero-block container 50%">
						<h4>Особенности модели:</h4>
						<ul class="alt">
							<li>Индивидуальный дизайн</li>
							<li>Любое полноцветное изображение</li>
							<li>Возможно нанесение рельефного изображения</li>
							<li>Полностью медный теплообменник</li>
						</ul>
						
					</div>
					{% if page.related %}
					<section id="frontpage-grid">
						<header>
							<h2>Вам также может понравиться</h2>
						</header>
						<div class="row 0%">
							{% for rel-product in page.related %}
								
								{% for product in site.catalog %}
									{% if product.url contains rel-product %}
										{% assign img_array = "" | split:"," %}
										{% for file in site.static_files %}
											{% if file.path contains product.url %}
												{% assign img_array = img_array | push: file.path %}
											{% endif %}
										{% endfor %}
										<div class="3u 4u(large) 6u(small)">
											<a href="{{ product.url }}" class="copperi-link">
												<div class="inner-wrapper product">	
													<img class="image fit pop" src="{{ img_array[0] }}">
													<h3>{{ product.product-name }}</h3>
													<p>{{ product.prices[0] }}</p>
												</div>	
											</a>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
							
							
						</div>
						
					</section>
					{% endif %}
					{% include pre-footer.html %}
				</article>
			</div>

		<!-- Footer -->
		{% include footer.html %}	
		<!-- Scripts -->
		{% include scripts.html %}	
		</div>
	</body>
</html>