<section id="cta">

	<header>
		<h2>Остались <strong>вопросы</strong>?</h2>
		<p>Позвоните нам <a href="tel:+7(499)390-72-14" class="phone">+7 (499) 390-72-14</a> или свяжитесь с нами любым удобным Вам способом.</p>
	</header>
	<footer>
		<ul class="buttons">
			<li><a href="#inline-form-callback" class="button special fancybox" data-fancybox-fit="false">Заказать звонок</a></li>
			<li><a href="#inline-form-msg" class="button alt fancybox" data-fancybox-fit="false">Написать нам</a></li>
		</ul>
	</footer>

	<!-- Contact forms -->
	{% include forms.html %}
</section>