
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/VitroniteByDecorce" class="icon circle fa-facebook" rel="nofollow" target="_blank"><span class="label">Facebook</span></a></li>
					<li><a href="https://plus.google.com/110011340182038101932/about" class="icon circle fa-google-plus" rel="nofollow" target="_blank"><span class="label">Google+</span></a></li>
					<li><a href="https://www.pinterest.com/decorce_ru/" class="icon circle fa-pinterest" rel="nofollow" target="_blank"><span class="label">Pinterest</span></a></li>
					<li><a href="https://instagram.com/vitronite/" class="icon circle fa-instagram" rel="nofollow" target="_blank"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="copyright">
					<li>г. Москва, ул. Кржижановского, д. 23 к. 2</li><li>Телефон: +7 (499) 390-72-14</li><li>E-mail: info@decorce.ru</li>
				</ul>
				<ul class="copyright">
					<li>&copy; d'ecorce 2016</li><li>Design: d'ecorce</li>
				</ul>
			</footer>
	
	<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/jquery.validate.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script type="text/javascript" src="assets/fancybox/source/jquery.fancybox.pack.js"></script>
			
	</body>
</html>