<div style="display:none">
	<div id="inline-form-msg" class="inline-form">
		<section class="wrapper style4 special container" style="margin:0 auto; width:90%">
			<div class="content">
				<form action="#" class="ajax-form-msg">
					<div class="row">
						<div class="12u$">
							<input type="text" class="name" name="name" placeholder="Ваше имя*">
						</div>
						<div class="12u$">
							<input type="text" class="email" name="email" placeholder="E-mail*">
						</div>
						<div class="12u$">
							<input type="text" class="phone" name="phone" placeholder="Номер телефона">
						</div>
						<div class="12u$">
							<textarea rows="5" name="message" class="message" placeholder="Ваше сообщение*"></textarea>
						</div>
						<div class="12u$">
							<input type="submit" class="submit button special" style="min-width:0;width:100%;" value="Отправить">
						</div>
					</div>
				</form>
				<div class="form-thank-you-msg" style="display:none;">
					 <h2><b>Спасибо!</b></h2>
					 <h2>Мы свяжемся с Вами в самое ближайшее время!</h2>
				</div>
			</div> 
		</section>
	</div>
</div>
<div style="display:none">
	<div id="inline-form-callback" class="inline-form">
		<section class="wrapper style4 special container" style="margin:0 auto;width:90%">
			<div class="content">
				<form action="#" class="ajax-form-callback">
					<div class="row">
						<div class="12u$">
							<input type="text" class="name" name="name" placeholder="Ваше имя*">
						</div>
						<div class="12u$">
							<input type="text" class="phone" name="phone" placeholder="Номер телефона*">
						</div>
						<div class="12u$">
							<input type="submit" class="submit button special" style="min-width:0;width:100%;" value="Отправить">
						</div>
					</div>
				</form>
				<div class="form-thank-you-callback" style="display:none;">
					 <h2><b>Спасибо!</b></h2>
					 <h2>Мы свяжемся с Вами в самое ближайшее время!</h2>
				</div>
			</div> 
		</section>
	</div>
</div>