<nav id="nav">
	<ul>
		<li class="current"><a href="/"><i class="fa fa-home fa-lg"></i> Главная</a></li>
		<li class="submenu">
			<a href="">Компания</a>
			<ul>
				<li><a href="/vitronite">Материал</a></li>
				<li><a href="/color-palette">Палитра цветов</a></li>
				<li><a href="/faq">FAQ</a></li>
			</ul>
		</li>
		<li class="submenu">
			<a href="">Продукция</a>
			<ul>
				<li class="submenu">
					<a href="/countertops">Столешницы</a>
					<ul>
						<li><a href="/kitchen-countertops">Для кухни</a></li>
						<li><a href="/bathroom-countertops">Для ванной</a></li>
					</ul>
				</li>
				<li><a href="/bartops">Барные стойки</a></li>
				<li><a href="/wall-floor">Стены/полы</a></li>
				<li><a href="/signs">Вывески</a></li>
			</ul>
		</li>
		<li><a href="/gallery">Галерея</a></li>
		<li><a href="/contact">Контакты</a></li>
	</ul>
</nav>