<section id="banner">

	<div class="row">
	<div class="5u -7u 12u(narrower)">
	<div class="inner">

		<header>
			<img src="images/logo.png" class="image logo" alt="Vitronite - История в каждой поверхности!"/>
		</header>
		<h3>Очаровательные столешницы из переработанного стекла</h3>
		<p>
			Да, Вы всё правильно прочитали. Vitronite™ от d'ecorce изготовлен из переработанного стекла на нашем собственном производстве в Московской области. Vitronite™ универсальный, чрезвычайно прочный и непористый материал, поэтому на нём не остаются пятна и он необычайно прост в уходе. Всё это делает его самым экологичным материалом для столешниц, барных стоек, подоконников и других архитектурных поверхностей. Пожалуйста, звоните нам по любым вопросам или приходите в наш шоу-рум, чтобы увидеть Vitronite™ лично.
		</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button scrolly">Посмотреть цвета</a></li>
			</ul>
		</footer>

	</div>
	</div>
	</div>

</section>