<nav id="nav">
	<ul>
		<li class="current"><a href="index.html"><i class="fa fa-home fa-lg"></i> Главная</a></li>
		<li class="submenu">
			<a href="">Компания</a>
			<ul>
				<li><a href="vitronite.html">Материал</a></li>
				<li><a href="color_palette.html">Палитра цветов</a></li>
				<li><a href="faq.html">FAQ</a></li>
			</ul>
		</li>
		<li class="submenu">
			<a href="">Продукция</a>
			<ul>
				<li class="submenu">
					<a href="countertops.html">Столешницы</a>
					<ul>
						<li><a href="kitchen_countertops.html">Для кухни</a></li>
						<li><a href="bathroom_countertops.html">Для ванной</a></li>
					</ul>
				</li>
				<li><a href="bartops.html">Барные стойки</a></li>
				<li><a href="wall_floor.html">Стены/полы</a></li>
				<li><a href="signs.html">Вывески</a></li>
			</ul>
		</li>
		<li><a href="gallery.html">Галерея</a></li>
		<li><a href="contact.html">Контакты</a></li>
	</ul>
</nav>