@charset "UTF-8";
@import url(font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Cormorant:500|Open+Sans:400,600,700&subset=cyrillic';



/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}
	
		body.menu-visible{
			overflow: hidden !important;
		}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: #2b2b2b;
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		font-weight: normal;
		line-height: 1.65;
		letter-spacing: 0.075em;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		color: #2b2b2b;
		text-decoration: none;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.225em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 2.25em;
	}
	
		@media screen and (max-width: 480px) {
			
			h2 {
				font-size: 1.5em;
			}
			
		}

	h3 {
		font-size: 1.75em;
	}
	
		@media screen and (max-width: 480px) {
			
			h3 {
				font-size: 1.25em;
			}
			
		}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px rgba(144, 144, 144, 0.25);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px rgba(144, 144, 144, 0.25);
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Section/Article */

	section.special, article.special, div.special {
		text-align: center;
	}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
		font-style: italic;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 0.9em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: bold;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		border: solid 1px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-color: #faa928;
			box-shadow: 0 0 0 1px #faa928;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: rgba(144, 144, 144, 0.25);
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #444;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: normal;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				background: rgba(144, 144, 144, 0.075);
				border-radius: 4px;
				border: solid 1px rgba(144, 144, 144, 0.25);
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #5a5a5a;
			border-color: #5a5a5a;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #faa928;
			box-shadow: 0 0 0 1px #faa928;
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #bbb !important;
		opacity: 1.0;
	}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px rgba(144, 144, 144, 0.25);
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px rgba(144, 144, 144, 0.25);
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: bold;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px rgba(144, 144, 144, 0.25);
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #555;
			font-size: 0.9em;
			font-weight: bold;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px rgba(144, 144, 144, 0.25);
		}

		table tfoot {
			border-top: solid 2px rgba(144, 144, 144, 0.25);
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px rgba(144, 144, 144, 0.25);
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #2b2b2b;
		border-radius: 3px;
		border: 0;
		outline: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		height: 3.2em;
		line-height: 3.35em;
		padding: 0 1.5em;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		letter-spacing: 0.225em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #383838;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #444444;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
			height: 3.125em;
			line-height: 3.275em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #555 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			button.alt.icon:before,
			.button.alt.icon:before {
				color: #bbb;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #ffffff;
			color: #2b2b2b !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #e5e5e5;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				transform: scale(0.98);
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #444 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0 1.2em;
				letter-spacing: 0.1em;
				font-size: 0.8em;
			}

		}

/* Header */

	@-moz-keyframes reveal-header {
		0% {
			top: -5em;
		}

		100% {
			top: 0;
		}
	}

	@-webkit-keyframes reveal-header {
		0% {
			top: -5em;
		}

		100% {
			top: 0;
		}
	}

	@-ms-keyframes reveal-header {
		0% {
			top: -5em;
		}

		100% {
			top: 0;
		}
	}

	@keyframes reveal-header {
		0% {
			top: -5em;
		}

		100% {
			top: 0;
		}
	}
	
	body {
		padding-top: 5em;
	}
		
		body.index {
			padding-top: 0;
		}

	#header {
		background: #fff;
		box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
		color: #2b2b2b;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
		letter-spacing: 0.2em;
		padding: 0 2em;
	}
	
		#header.reveal {
			-moz-animation: reveal-header 0.5s;
			-webkit-animation: reveal-header 0.5s;
			-ms-animation: reveal-header 0.5s;
			animation: reveal-header 0.5s;
		}
		
		#header.alt{
			-moz-animation: none;
			-webkit-animation: none;
			-ms-animation: none;
			animation: none;
			background: rgba(0,0,0,0);
			color: #fff;
			position: absolute;
			box-shadow: none;
		}

		#header > h1 {
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			font-size: 1.5em;
			font-family: 'Cormorant', serif;
			font-weight: 500;
		}
		
			#header > h1 a:after{
				content: '';
				width: 80%;
				position: absolute;
				background-color: #faa928;
				height: 2px;
				left: 10%;
				bottom: 20%;
			}
			
			#header.alt > h1 a:after{
				background-color: #ffffff;
			}
			
		#header > a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 1.75em;
			color: inherit;
			text-decoration: none;
		}

			#header > a.phone {
				border-left: solid 1px #e5e5e5;
				border-right: solid 1px #e5e5e5;
			}
			
				#header.alt > a.phone {
					border: 0;
				}
				
				#header > a.phone:before {
					content: "\f095";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}
			
			#header.alt > a:hover {
				color: #e5e5e5;
			}
			
			#header > a:hover {
				color: #515151;
			}

			#header > a[href="#nav"] {
				text-decoration: none;
				-webkit-tap-highlight-color: transparent;
				text-transform: uppercase;
			}

				#header > a[href="#nav"]:after {
					content: "";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header > a[href="#nav"]:after {
					margin: 0 0 0 0.5em;
				}

			#header > a + a[href="#nav"]:last-child {
				padding-left: 1.25em;
				margin-left: 0.5em;
			}

			#header > a:last-child {
				padding-right: 1.25em;
			}

			@media screen and (max-width: 736px) {

				#header > a {
					padding: 0 2em;
				}

					#header > a + a[href="#nav"]:last-child {
						padding-left: 1em;
						margin-left: 0.25em;
					}

					#header > a:last-child {
						padding-right: 1em;
					}
					
					#header > a.phone span {
						display:none;
					}
			}
			
			@media screen and (max-width: 736px) {

				#header > a {
					padding: 0 1em;
				}
			}
			
	@media screen and (max-width: 736px) {

		body {
			padding-top: 55px;
		}
		
			body.index {
				padding-top: 55px;
			}

		#header {
			height: 55px;
			line-height: 55px;
			padding: 0;
		}

			#header > h1 {
				left: 1em;
				font-size: 1.2em;
			}

				#header > h1 a {
					font-size: 1em;
				}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}


/* Nav */

	#nav {
		-moz-transform: translateX(35em);
		-webkit-transform: translateX(35em);
		-ms-transform: translateX(35em);
		transform: translateX(35em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #fff;
		box-shadow: none;
		/* color: #ffffff; */
		height: 100%;
		max-width: 85%;
		overflow-y: auto;
		padding: 5em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 35em;
		z-index: 10003;
	}

		#nav  ul {
			margin: 0 0 1em 0;
		}

			#nav  ul.links {
				list-style: none;
				padding: 0;
				letter-spacing: 0.2em;
			}

				#nav  ul.links > a {
					font-weight: bold;
					text-transform: uppercase;
					display: block;
					margin-bottom: 1em;
				}
				
				#nav  ul.links > li {
					padding: 0;
				}

					#nav  ul.links > li > a:not(.button) {
						color: #7f7f7f;
						display: block;
						line-height: 2.5em;
						text-decoration: none;
					}

					#nav  ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#nav  ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

		#nav .close {
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;
			transition: opacity .3s;
			border: 0;
			color: #bdbdbd;
			cursor: pointer;
			display: block;
			height: 5em;
			position: absolute;
			left: 0;
			top: 0;
			width: 5em;
			outline: 0;
		}
		
			#nav .close:hover {
				opacity: 0.5;
			}
		
			#nav .close:before, .close:after {
				content: '';
				background-color: #000;
				height: 2px;
				width: 2em;
				top: 50%;
				left: 50%;
				position: absolute;
				margin-left: -1em;
				margin-top: -1px;
				transition: transform .4s .6s;
			}
			
			body.menu-visible #nav .close:before {
				transform: rotate(45deg);
			}
			
			body.menu-visible #nav .close:after {
				transform: rotate(-45deg);
			}

			@media screen and (max-width: 736px) {

				#nav .close {
					height: 4em;
				}

			}

		#nav.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		@media screen and (max-width: 736px) {

			#nav {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	.banner {
		display:flex;
		text-align: center;
		min-height: 75vh;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		color: #ffffff;
		align-items: center;
	}
	
	.small-banner {
		min-height: 40vh;
		position: relative;
	}
	
	.b-product {
		min-height: 65vh;
		background-size: contain;
	}
	
		.banner:before {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.075);
		}
		
		.b-product:before {
			display: none;
		}
		
		.banner .inner{
			margin: auto;
			z-index: 2;
		}

		.banner h2 {
			font-size: 4em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
			text-transform: uppercase;
			letter-spacing: 0.3em;
		}

		.banner h2+p {
			font-size: 1.2em;
			margin-bottom: 1.75em;
			font-style: italic;
		}
		
		.small-banner h2+p{
			margin-bottom: 0;
		}
		
		@media screen and (max-width: 980px) {

			.banner {
				min-height: 50vh;
			}
			
			.small-banner {
				min-height: 30vh;
			}
			
				.small-banner h2{
					margin-bottom: 0.1em;
				}

		}

		@media screen and (max-width: 736px) {

				.banner h2 {
					font-size: 2.25em;
				}

				.banner h2+p {
					font-size: 1em;
				}
				
				.small-banner {
					min-height: 10em;
				}

		}

		@media screen and (max-width: 480px) {

			.banner {
				min-height: 16em;
			}
			
			.small-banner {
				min-height: 8em;
			}
		}
		
		

/* Main */

	#main {
		padding: 4em 0 2em 0;
	}
	
	#not-main {
		padding: 0 0 2em 0;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 3em 0 1em 0;
			}
			
			#not-main {
				padding: 0 0 1em 0;
			}

		}

/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background: #b1b2b7;
		color: #ffffff;
	}
	
		#footer a{
			color: #ffffff;
			text-transform: uppercase;
		}
		
			#footer a:hover{
				color: #e5e5e5;
			}
			
		#footer ul.footer-links {
			list-style: none;
			margin-top: 0.5em;
			padding: 0;
		}
		
					#footer ul.footer-links li{
						padding: 0.2em 0 0.2em 0;
					}
					
						#footer ul.footer-links li a{
							color: #dadbdd;
							text-transform: none;
						}

		#footer .copyright {
			font-size: 0.9em;
			margin: 2em 0 2em 0;
			padding: 0;
			text-align: center;
			color: #dadbdd;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(255, 255, 255, 0.25);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

				#footer .copyright li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		}
		
/* Page wrapper */

	#page-wrapper {
	}
	
		#page-wrapper:before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,0.7);
			opacity: 0;
			transition: opacity 0.4s, visibility 0.4s;
			visibility: hidden;
			z-index: 10002;
		}
		
		body.menu-visible #page-wrapper:before {
			opacity: 1;
			visibility: visible;
		}
		
/* Copperi related stuff */
	.copperi-link {
		-moz-transition: opacity 0.3s ease-in-out;
		-webkit-transition: opacity 0.3s ease-in-out;
		-ms-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
		display: flex;
		width: 100%;
		border: 0;
		background: #fff;
		opacity: 1;
		height: 32em;
		border: solid 1px #e5e5e5;
		border-left: 0;
		margin-top: -1px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		align-items: center;
		justify-content: center;
	}
	
		.copperi-link:hover{
			opacity: 0.7;
		}

	@media screen and (max-width: 980px) {
		
		.copperi-link {
			height: 22em;
		}
	}
	
	@media screen and (max-width: 736px) {
		
		.copperi-link {
			height: 25em;
		}
	}
	
	@media screen and (max-width: 480px) {
		
		.copperi-link {
			height: 18em;
		}
	}
	
	.inner-wrapper{
		margin: auto;
		width: 100%;
	}
	
		.inner-wrapper h3 {
			margin: 0;
		}
		
		.inner-wrapper h3+p{
			font-style: italic;
			margin: 0.5em 0 1em 0;
		}
		
	.product p{
		font-size: 1.5em;
	}
	
		.product p:after{
			content: '.';
		}
	
		@media screen and (max-width: 480px) {
			.product p{
				font-size: 1.1em;
			}
		}
	
	.category {
		color: #ffffff;
	}
	
	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		background-color: rgba(0,0,0,0.3);
		align-items: center;
	}
	
	.view-more {
		margin-top: 3em;
	}
	
		.view-more a {
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: 600;
			letter-spacing: 0.2em;
			position: relative;
			transition: opacity .2s ease-in-out;
		}
		
		@media screen and (max-width: 480px) {
			
			.view-more {
				margin-top: 1.2em;
			}
	
			.view-more a {
				font-size: 0.9em;
			}
		}
		
		.view-more a:after {
			content: '';
			position: absolute;
			bottom: -1px;
			background-color: #2b2b2b;
			height: 1px;
			left: 0;
			width: 100%;
			transition: opacity .2s ease-in-out;
		}
		
		.view-more a:hover {
			opacity: 0.7;
		}
		
	#pre-footer {
		color: #b1b2b7;
		margin-top: 5em;
	}
	
		#pre-footer a{
			color: inherit;
			text-transform: uppercase;
			font-weight: 600;
			transition: opacity .2s ease-in-out;
		}
		
			#pre-footer a:hover{
				opacity: 0.7;
			}
		
		#pre-footer a i{
			margin-right: 0.75em;
		}
		
		@media screen and (max-width: 480px) {
			
			#pre-footer {
				margin-top: 3em;
			}
		}
		
	#product-hero {
		margin-bottom: 2em;
	}
	
		#product-hero img{
			padding: 1em;
			max-width: 100%;
			max-height: 55vh;
		}
		
	.hero-block {
		margin-bottom: 2em;
	}
	
		.hero-block p{
			margin-bottom: 0;
		}
		
		@media screen and (max-width: 480px) {
			
			.hero-block p, li{
				font-size: 80%;
			}
		}
		
	#photos {
	   /* Prevent vertical gaps */
	   line-height: 3em;
	   
	   -webkit-column-count: 3;
	   -webkit-column-gap:   1em;
	   -moz-column-count:    3;
	   -moz-column-gap:      1em;
	   column-count:         3;
	   column-gap:           1em;
	}

		#photos img {
		  /* Just in case there are inline attributes */
		  width: 100% !important;
		  height: auto !important;
		}

	
		@media screen and (max-width: 980px) {
		  #photos {
		  -moz-column-count:    2;
		  -webkit-column-count: 2;
		  column-count:         2;
		  }
		}
		@media screen and (max-width: 480px) {
		  #photos {
		  -moz-column-count:    1;
		  -webkit-column-count: 1;
		  column-count:         1;
		  }
		}
		
	.attr {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		width: 100%;
	}
	
		.attr:before {
			content: '';
			background-color: #e5e5e5;
			height: 1px;
			width: 30%;
			display: block;
			margin: 0 auto;
			margin-bottom: 2em;
		}
	
		.attr li{
			float: left;
			width: 33.333%;
			font-weight: 600;
			margin-bottom: 0.75em;
		}
		
			.attr li span{
				font-weight: 400;
			}
			
			@media screen and (max-width: 1280px) {
				.attr li{
					width: 50%;
				}
			}
			@media screen and (max-width: 736px) {
				.attr li{
					width: 100%;
				}
			}
			
	@-moz-keyframes pop-up { 0% { top: 5em; } 100% { top: 0; } }
	@-webkit-keyframes pop-up { 0% { top: 5em; } 100% { top: 0; } }
	@-o-keyframes pop-up { 0% { top: 5em; } 100% { top: 0; } }
	@-ms-keyframes pop-up { 0% { top: 5em; } 100% { top: 0; } }
	@keyframes pop-up { 0% { top: 5em; } 100% { top: 0; } }
	
	#frontpage-grid .product img {
		margin: 0;
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
		animation-fill-mode: both;
		-moz-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation: -delay: 0s;
		animation-delay: 0s;
		-moz-animation-duration: .7s;
		-webkit-animation-duration: .7s;
		-o-animation-duration: .7s;
		-ms-animation-duration: .7s;
		animation-duration: .7s;
		top: 5em;
	}
	
		@media screen and (max-width: 736px) {
			
			#frontpage-grid .product img{
				padding: 0.25em;
				-moz-animation-fill-mode: none;
				-webkit-animation: none;
				-o-animation: none;
				-ms-animation: none;
				animation: none;
				top: 0;
			}
		}
		
	.hide {
		display: none;
	}